<p>progress-bars works!</p>
<!-- Toolbar -->
<header>
  <h1>{{ title }}</h1>
</header>

<main>
  <div [style.width.%]="progress$ | async" class="progress-bar">
    <p>AsyncScheduler (macroTask, like setInterval) [LOW Priority]</p>
  </div>
  <div
    [style.width.%]="progress2$ | async"
    [style.--bar-color]="'royalblue'"
    class="progress-bar"
  >
    <p>
      AnimationFrameScheduler (macroTask, like requestAnimationFrame) [LOW
      Priority]
    </p>
  </div>
  <div
    [style.width.%]="progress3$ | async"
    [style.--bar-color]="'blue'"
    class="progress-bar"
  >
    <p>
      AsapScheduler (microTask, like Promises and mutationObserver) [HIGH
      Priority]
    </p>
  </div>
  <div
    [style.width.%]="progress4$ | async"
    [style.--bar-color]="'darkblue'"
    class="progress-bar"
  >
    AsapScheduler (microTask, like Promises and mutationObserver) [HIGH
    Priority]
  </div>
</main>

<router-outlet></router-outlet>
